doctype html
html
	head
		include include/meta
		title= "Meal Planner - Reservation"

	body(role="document")
		include include/menu
		div.container.theme-showcase(role="main")
			include include/title
			h2 #{reservation.restaurant.name} - Reservation
			div.panel.panel-info
				div.panel-heading
					h3.panel-title Informations
				table.panel-table
					tbody
						tr
							td.td-title Name :
							td #{reservation.name}
						tr
							td.td-title Owner :
							td #{reservation.owner.userName}
						tr
							td.td-title Date :
							td #{reservation.date}
						tr
							td.td-title Number of seat :
							td #{reservation.peopleNumber}
						tr
							td.td-title Accepted :
							case reservation.validationStatus
								when "validateByRestaurant"
									td 
										span.label.label-success Yes
								when "cancelledByUser"
									td 
										span.label.label-warning Cancelled
								when  "none"
									td 
										span.label.label-danger No

			div.panel.panel-warning
				div.panel-heading.head-panel-tab
					h3.panel-title Dishes list
				table#table_id.display
					thead
						tr
							th Name
							th Description
							th Price
					tbody
						if orderline
							each i in orderline
								tr
									td= i.dish.name
									td= i.dish.description
									td= i.dish.price + " €"

			p
			case reservation.validationStatus
				when "validateByRestaurant"
					button(class="btn btn-lg btn-danger" action="acceptButtonAction") Cancel Reservation
				when "none"
					button(class="btn btn-lg btn-primary" action="acceptButtonAction") Accept Reservation

	include include/footer
	script(src="/public/js/jQuery/jquery-2.1.1.js")
	script(src="/public/js/bootstrap-3.1.1-dist/js/bootstrap.min.js")
	script(type="text/javascript" charset="utf8" src="/public/js/dataTables-1.10.0/media/js/jquery.dataTables.js")
	script $(document).ready( function () { $('#table_id').DataTable(); } );